body {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  
}

header {
  background-color: #f8d095;
  padding: 20px 20px;
}

.topo {
  width: 940px;
  height: 5em;
  position: relative;
}

.logo {
  width: 90px;
  position: absolute;
  top: -7px;
}

#titulo {
  color: #af440a;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: 25px;
  left: 110px;
}

#subtitulo {
  color: black;
  font-size: 1.2em;
  position: absolute;
  top: 50px;
  left: 200px;
}

nav {
  position: absolute;
  right: 40px;
  top: 50px;
}

nav li {
  display: inline;
  font-size: 1.5em;
  padding-right: 20px;
}

a {
  color: #d66f36;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #af440a;
  text-decoration: none;
}

main {
  background-color: #f8d095;
  padding-bottom: 5%;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 3%;
  font-weight: bold;
}

h2 {
  padding-top: 8px;
  font-size: 30px;
  text-align: center;
}


.banner {
  width: 100%;
  height: 70%;
}


form {
  width: 40%;
  text-align: center;
  border: 1px solid;
  border-color: black;
  margin :4rem auto;
  box-shadow: 10px 10px 10px black;
}

form label {
  font-size: 150%;
  font-weight: bold;
  display: block;
  margin: 3% 0;
}

form input {
  width: 70%;
  height: 4%;
}

textarea {
  width: 70%;
}

fieldset{
}

.radio {
  height: 3%;
  margin-left: -40%;

}

.radio1 {
  height: 3%;
  margin-left: -44%;
}

.check {
  margin-top: 5%;
  height: 2%;
  margin-left: -59%;
}

.novi {
  font-size: 100%;
  position: absolute;
  top: 198.8%;
  left: 40%;
}

button {
  margin-top: 5%;
  border-radius: 100%;
  width: 30%;
  height: 10%;
}

footer {
  background: black;
  text-align: center;

  padding-top: 40px;
  height: 5em;
}

.ICOrodape {
  width: 25px;
}

footer p {
  color: white;
}
