body {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  
}

header {
  background-color: #f8d095;
  padding: 20px 20px;
}

.topo {
  width: 940px;
  height: 5em;
  position: relative;
}

.logo {
  width: 90px;
  position: absolute;
  top: -7px;
}

#titulo {
  color: #af440a;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: 25px;
  left: 110px;
}

#subtitulo {
  color: black;
  font-size: 1.2em;
  position: absolute;
  top: 50px;
  left: 200px;
}

nav {
  position: absolute;
  right: 40px;
  top: 50px;
}

nav li {
  display: inline;
  font-size: 1.5em;
  padding-right: 20px;
}

a {
  color: #d66f36;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #af440a;
  text-decoration: none;
}

main {
  background-color: #f8d095;
  padding-bottom: 5%;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 3%;
  font-weight: bold;
  margin-bottom: 3%;
}

h2 {
  padding-top: 8px;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-weight: bold;
  margin-top: 20%;
}


.banner {
  width: 100%;
  height: 70%;
}

form {
  background-color: #d66f36;
  width: 14%;
  margin-left: 40%;
  display: block;
  text-align: center;
  padding: 3% 3%;
}

form label {
  font-size: 200%;
  font-weight: bold;
}

form input {
  margin-bottom: 5%;
}

form button {
  padding: 3% 8%;
  margin-top: 6%;
}



footer {
  background: black;
  text-align: center;

  padding-top: 40px;
  height: 5em;
}

.ICOrodape {
  width: 25px;
}

footer p {
  color: white;
}
